	<div class="menubar">
		<style scoped>
        {% include 'styles/MenuBar_style.css' %}
    </style>

			<img src="static/icon-version1.PNG" alt="LOGO" class="center">

		{% csrf_token %}
		<p class="hlavicka">{{request.user.username}}</p>
		<p class="hlavicka">MENU</p>

		<a  href="\nastenka">Nástenka</a>
		<a href="\moje_kvizy">Moje kvízy</a>
		<a href="\historia_pokusov">História pokusov</a>
		<a href="\oappke">O Appke</a>
		<a href="\logout_req" style="background:#C9E465">Odhlásiť</a>

	</div>
