<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>MatQUIZ - O aplikácií</title>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <style>
       .textblock {
          overflow-y: scroll;
          position: fixed;
          top: 70px;
          left: 20%;
          right: 2%;
          width: 80%;
          height: 90%;
          font-family: Raleway;
       }
       .textblock h2{
          background: #FFBE58;
          color: black;
       }
       .textblock h1{
          background: #C9E465;
          color: black;
       }

    </style>

</head>
<body>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<script src="//i.upmath.me/latex.js"></script>

{% include 'MenuBar.html' %}
<div class="topheader">
    <style scoped>
        {% include 'styles/TopHeader_style.css' %}
    </style>
    <p1>O APLIKÁCIÍ</p1>
</div>
<div class="textblock">
    {%include 'about_app'%}
</div>


</body>
</html>